body {
    background: black;
    color: white;
    margin: 0;
    font-family: Georgia, serif;
}

.top-images {
    display: flex;
    justify-content: space-between;
}

.top-images img {
    width: 33%;
    height: 200px;
    object-fit: cover;
}

.blue-banner {
    background: #003CFF;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.section-title {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 32px;
}

.product {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 15px;
}

.product-img {
    background: #123A6F;
    width: 180px;
    height: 180px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.product-info {
    font-size: 26px;
    line-height: 40px;
}
