body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.navbar {
  background: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.btn {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}

.product-list {
  margin-top: 20px;
}

.product-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.product-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.actions a {
  display: inline-block;
  margin-right: 10px;
  color: blue;
  text-decoration: none;
}
